.color-view{
	border-color: black;
	border-style: solid;
	border-width: 1px;
	display: inline;
	width: 100px;
	height: 100px;
	margin: 5px;
	padding:10px;
}

/*
#color1 { 
    background-color: yellow;
}
*/

.rules{
    width: 500px;
	height: 200px;
}